/* Main Containers */
body, button {
  font-family: VT323;
}
button {
  font-size: xx-large;
}

.outer-container {
  height: 720px;
  width: 1280px;
  background: #eee;
  border: 5px solid gainsboro;
}

.game-window {
  height: 720px;
  width: 1280px;
  float: left;
  position: relative;
}
  
/* Game Section --- Right Section */

#actual_game{
    height: 720px;
    width: 1280px;
    background-color: black;
    z-index: 10;
    right: 0px;
    top: 0px;

}

#game_right_section {
    display: inline-block;
    height: 600px;
    width: 320px;
    position: absolute;
    left: 960px;
    top: 0px;
    color: white;
    z-index: 1;
}

#scoreword, #covid_danger, #level {
  text-align:center;
  font-size: 60px;
}

#score_num, #covid_danger_num, #covid_level {
  text-align: center;
  font-size: 40px;
  color: yellow;
}

#player {
  position: absolute;
  display: inline-block;
  width: 62px;
  left: 600px;
  top: 300px;
  z-index: 9;
}

/* Add your styling here */
#mask{
  width: 70px;
  height: 33px;
  position: absolute;
  display: inline-block;
}
#VaccId{
  width: 57px;
  height: 57px;
  position: absolute;
  display: inline-block;
}
.CometClass{
  height: 62px;
  width: 62px;
  position: absolute;
}
#splashscreen{
  width: 500px;
  height: 300px;
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#SSReady{
  font-size:75px; 
}
#SStext{
  font-size: 50px;
}
#tutorial{
  width: 100.5%;
  height: 100.5%;
  position: absolute;
  color:black;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: gainsboro;
}
#death{
  height: 721px;
  width: 1281px;
  left:0px;
  top:0px;
  position: absolute;
  text-align: center;
}
#text0{
  font-size: 100px;
}
#main{
  height: 721px;
  width: 1281px;
  left:0px;
  top:0px;
  position: absolute;
  text-align: center;
}
#header{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #800;
  border-bottom: 6px;
  border-bottom-style: groove;
  font-size: 100px;
  left: 14px;
  top:14px;
}
#header0{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #800;
  border-bottom: 6px;
  border-bottom-style: groove;
  font-size: 100px;
  left: 0px;
  top:0px;
}
#bgimg{
  max-width: 100%;
  left:0px;
  top:0;
  padding-left: 14px;
  padding-top: 14px;
}
#bgimg0{
  max-width: 100%;
  left:0px;
  top:0;
  padding-left: 0px;
  padding-top: 0px;
}
#startOverBtn{
  width: 1px;
  height: 1px;
  background: transparent;
    border: none !important;
    font-size:0;
  top:62%;
  left:28%;
  position: absolute;
}
#playBtn{
  width: 200px;
  height: 100px;
  background-color: red;
  font-family: VT323;
  font-size: 40px;
  top:42%;
  left:42%;
  position: absolute;
}
#settingsBtn{
  width: 200px;
  height: 100px;
  background-color: red;
  font-family: VT323;
  font-size: 40px;
  top:62%;
  left:42%;
  position: absolute;
}
#SSReady{
  font-size:75px; 
}
#SStext{
  font-size: 50px;
}
#startBtn{
  width: 200px;
  height: 75px;
  font-family: VT323;
  font-size: 30px;
}
#t0{
  font-weight: bold;
  font-size: 75px;
}
#redbox{
  width: 400px;
  height: 200px;
  background-color: red;
  position: absolute;
  text-align: center;
  color: navy;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
#t1{
  font-size: 50px;
}
#t2{
  font-size: 50px;
}
#t3{
  font-size: 50px;
}
#t4{
  font-size: 50px;
}
#scoreId{
  font-size: 20px;
  position: absolute;
  left: 45%;
}
#Cgif{
  width: 100px;
  height: 100px;
}
#Vgif{
  width: 100px;
  height: 100px;
}
#Mgif{
  width: 150px;
  height: 75px;
}
#settingsPNL{
  position: absolute;
  width: 650px;
  height: 700px;
  border: 6px;
  border-color: grey;
  border-width: 6px;
  color: white;
  background-color: blue;
  font-size: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#easyBtn{
  font-family: VT323;
  width: 200px;
  height: 100px;
  background-color: #A00;
  border-color: yellow;
  font-size: 40px;
  border-width: 4px;
}
#normalBtn{
  font-family: VT323;
  width: 200px;
  height: 100px;
  background-color: #A00;
  border-color: yellow;
  font-size: 40px;
  border-width: 4px;
}
#hardBtn{
  font-family: VT323;
  width: 200px;
  height: 100px;
  background-color: #A00;
  border-color: yellow;
  border-width: 4px;
  font-size: 40px;
}
#closeBtn{
  font-family: VT323;
  width: 200px;
  height: 100px;
  background-color: #A00;
  border-color: yellow;
  font-size: 40px;
  border-width: 4px;
}
/*   slider stuff */
#volume{
  display: inline-block;
}
#volumeId{
  display: inline-block;
}
.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
.slidercontainer{
  display: flex;
  white-space: nowrap;
  width: 100%;
  text-align: justify;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

